<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wangcl.sm.mapper.UserRoleMapper">
	<insert id="insert" parameterType="cc.wangcl.sm.entity.UserRole">
		<selectKey keyProperty="id" resultType="string" order="BEFORE">
			SELECT replace(uuid(),'-','')
		</selectKey>
		INSERT INTO s_user_role (
			ID_,
			ROLE_ID_,
			USER_ID_
		) VALUES (
			#{id, jdbcType=VARCHAR},
			#{roleId, jdbcType=VARCHAR},
			#{userId, jdbcType=VARCHAR}
		)
	</insert>

	<delete id="deleteByUser" parameterType="string">
		DELETE FROM s_user_role
		WHERE
			USER_ID_=#{userId}
	</delete>

	<delete id="deleteByRole" parameterType="string">
		DELETE FROM s_user_role
		WHERE
			ROLE_ID_=#{roleId}
	</delete>

	<select id="selectCountByUser" resultType="int" parameterType="string">
		SELECT
			count(ID_)
		FROM s_user_role
		WHERE
			USER_ID_=#{userId}
	</select>

	<select id="selectCountByRole" resultType="int" parameterType="string">
		SELECT
			count(ID_)
		FROM s_user_role
		WHERE
			ROLE_ID_=#{roleId}
	</select>

	<select id="selectRoleIdsByUser" parameterType="string" resultType="string">
		SELECT
			ROLE_ID_
		FROM s_user_role
		WHERE USER_ID_=#{userId}
	</select>

</mapper>
