html, body {
    width: 100%;
    min-width: 940px;
    overflow-x: auto;
    height: 100%;
    min-height: 588px;
    overflow-y: auto;
}

body, h1, h2, h3, h4, h5, h6, span {
    font-family: "Microsoft YaHei", SimSun, sans-serif !important;
}

/*图片加小手*/
.fa {
    cursor: pointer;
}

/*查询条件label*/
.form-horizontal .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4 {
    text-align: right;
}

.form-horizontal .control-label {
    padding-right: 10px;
}

/*thead和tfoot居中*/
table thead tr th,
table tfoot tr th {
    text-align: center;
}

/*表格label右对齐*/
.control-label {
    padding: 6px 20px 0 0;
    text-align: right;
}

/*buttons右对齐*/
.btn-group {
    float: right;
    margin-bottom: 10px;
}

/*modal框body滚动条*/
.modal-body {
    overflow-x: hidden;
}

/*modal遮罩*/
#mask {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.52);
    z-index: 20001;
}

/*modal loading*/
.loading {
    display: none;
    position: absolute;
    top: 38%;
    left: 31%;
}
